{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <form action="{{ path('blog_create') }}" method="post">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" />
            <label for="body">Body</label>
            <textarea id="body" name="body"></textarea>
            <input type="submit" value="Create" />
        </form>
    </div>

{% endblock %}
